<!-- DIALOG -->
<md-dialog class="supplier-dialog" aria-label="New Task">

    <form name="supplierForm" class="md-inline-form" novalidate>

        <!-- DIALOG TOOLBAR -->

        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <md-input-container class="md-icon-float md-block">
                <label translate="SUPPLIERS.NAME_REQUIRED">Nombre (obligatorio)</label>
                <md-icon md-font-icon="icon-account" class="name"></md-icon>
                <input ng-model="vm.supplier.socialName" type="text" ng-required>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="SUPPLIERS.RUC">RUC (required)</label>
                <md-icon></md-icon>
                <input ng-model="vm.supplier.ruc" type="text">
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label translate="SUPPLIERS.ADDRESS">Address</label>
                <md-icon></md-icon>
                <input ng-model="vm.supplier.address" type="text">
            </md-input-container>

            <div ng-if="!vm.allFields" layout="row" layout-align="center center">
                <md-button class="md-accent" ng-click="vm.allFields = true" translate="SUPPLIERS.SHOW_ALL_FIELDS">Show
                    All Fields
                </md-button>
            </div>

            <div ng-if="vm.allFields">
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-phone"></md-icon>
                    <input ng-model="vm.supplier.phoneNumber" type="text" placeholder="Telefono" >
                </md-input-container>
              <md-datepicker class="birthday-input"  ng-model="vm.supplier.creationDate" md-placeholder="Fecha de ingreso"
                             ng-required="false">
              </md-datepicker>
                  <!--<div ng-if="vm.supplier.creationDate===''">
                    <md-datepicker class="birthday-input"  ng-model="vm.supplier.creationDate" md-placeholder="Fecha de ingreso"
                                   ng-required="false">
                    </md-datepicker>
                  </div>
                  <div ng-if="vm.supplier.creationDate!==''">
                    <md-datepicker class="birthday-input" ng-bind="vm.supplier.creationDate"  ng-model="vm.supplier.creationDate" md-placeholder="Fecha de ingreso"
                                   ng-required="false">
                    </md-datepicker>
                  </div>-->
                <md-input-container class="md-block">
                    <md-icon md-font-icon="icon-home"></md-icon>
                    <input ng-model="vm.supplier.description" type="text" placeholder="Descripcion" >
                </md-input-container>
              <md-input-container>
                <input type="checkbox" ng-checked="{{vm.supplier.state}}"  ng-model="vm.supplier.state" aria-label="Activo">Activo</input>
              </md-input-container>


              <!--<div layout="row" class="md-block textarea-wrapper" layout-align="start start">
                  <md-icon md-font-icon="icon-note"></md-icon>
                  <md-input-container flex>
                      <label translate translate-attr-placeholder="SUPPLIERS.NOTES">Notes</label>
                      <textarea ng-model="vm.supplier.notes" type="text"></textarea>
                  </md-input-container>
                </div>-->

                <div layout="row" layout-align="center center">
                    <md-button class="md-accent" ng-click="vm.allFields = false" translate="SUPPLIERS.FEWER_FIELDS">Fewer
                        Fields
                    </md-button>
                </div>

            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.newSupplier" ng-click="vm.saveSupplier()"
                           class="send-button md-accent md-raised"
                           ng-disabled="supplierForm.$invalid || supplierForm.$pristine"
                           aria-label="SAVE" translate="SUPPLIERS.SAVE" translate-attr-aria-label="SUPPLIERS.SAVE">
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.newSupplier" ng-click="vm.addNewSupplier()"
                           class="send-button md-accent md-raised"
                           ng-disabled="supplierForm.$invalid || supplierForm.$pristine"
                           aria-label="Add Task" translate="SUPPLIERS.ADD_SUPPLIER"
                           translate-attr-aria-label="SUPPLIERS.ADD_SUPPLIER">
                    ADD SUPPLIER
                </md-button>

            </div>

            <div layout="row">
                <md-button class="md-icon-button" ng-click="vm.deleteSupplierConfirm($event)" aria-label="Delete"
                           translate
                           translate-attr-aria-label="SUPPLIERS.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="SUPPLIERS.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </form>

</md-dialog>
<!-- / DIALOG -->
